<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-4 col-sm-12">
      
      </div>
  </div>    
</div>

<div class="container post">
  <div class="row">
      <div class="col-md-6 post-title" id="headContent1">
          <img src="../assets/profile.jpg" width="200" height="200" alt="" class="img-circle center-block" id="proImage">
          <h1 id="name" class="text-center">Educational Qualifications</h1>
          <p class="author text-center"><strong></strong> <span class="text-muted">A brief summary of all my educational qualifications</span></p>

          <div class="personalInfo well text-center">  
            <h4>Qualifications</h4>
            <p class="info"><span class="boldText">BSc Computer Systems:</span> Heriot Watt University 2015</p>
            <p class="info"><span class="boldText">HND Information Technology </span> London School Of Business And Management 2012</p>
            <p class="info"><span class="boldText">Matric:</span> Greenside High School 2010</p>
            <br>
            <h4>Certifications</h4>
            <p class="info"><span class="boldText">Microsoft Certified Solutions Developer (MSCD):</span> Microsoft 2017</p>
            <p class="info"><span class="boldText">Java SE 8 Programmer I:</span> Oracle University 2016</p>
          </div>
      </div>
      <div class="col-md-6 col-md-offset-0 post-body" id="headContent2">
        <div class="education">
          <h4>Educational Qualifications</h4>
          <div class="qualification">  
            <p class="info"><strong>Institution:</strong> Heriot Watt University</p>
            <p class="info"><strong>Qualification:</strong> BSc Computer Systems</p>
            <p class="info"><strong>Completion Year:</strong> 2014</p>
            <br>
          <div class="qualification">
            <p class="info"><strong>Institution:</strong> CTI Education Group</p>
            <p class="info"><strong>Qualification:</strong> HND Information Technology</p>
            <p class="info"><strong>Completion Year:</strong> 2012</p>
            <br>
          </div>
          <div class="qualification">
            <p class="info"><strong>Institution:</strong> Greenside High School</p>
            <p class="info"><strong>Qualification:</strong> Matric</p>
            <p class="info"><strong>Completion Year:</strong> 2010</p>
            <br>
          </div>
            </div>
       </div>
      </div>
  </div>
</div>