<div class="container post">
  <div class="row">
      <div class="col-md-6 post-title" id="headContent1">
          <img src="../assets/profile.jpg" width="200" height="200" alt="" class="img-circle center-block" id="proImage">
          <h1 id="name" class="text-center">Work Experience</h1>
          <p class="author text-center"><strong></strong> <span class="text-muted"> This is just a brief summary of all my work experience and all I have done up to date</span></p>
          
          <div class="personalInfo well text-center">  
              <h4>Places Ive worked</h4>
              <p class="info"><span class="boldText">Innovation Hub:</span> Software Developer Trainee (2018)</p>
              <p class="info"><span class="boldText">Tobb Technologies:</span> Software Developer (2017)</p>
              <p class="info"><span class="boldText">Coralite Training Academy:</span> Software Developer Intern (2016)</p>
              <br>
            </div>
        </div>
      <div class="col-md-6 col-md-offset-0 post-body" id="headContent2">
        <div class=" employmentHistory">
          <h4>Employment History</h4>
          <div class="company1">
            <p class="info">Company: Coralite Training Academy</p>
            <p class="info">Sector: Information Technology</p>
            <p class="info">Position: Software Developer Intern</p>
            <p class="info">Roles: </p>
            <ul>
              <li>Creating and developing solutions using various open source languages</li>
              <li>Reporting to the line manager on a daily basis about daily tasks</li>
              <li>Supporting clients on existing systems and updating them</li>
              <li>Studying towards completing MCSD and Oracle Java SE 8 I certification</li>
            </ul>
            <p class="info">Duration: 2016 - 2017</p>
          </div>
          <br><hr>
          <div class="company2">
              <p class="info">Company: Tobb Technologies</p>
              <p class="info">Sector: Information Technology</p>
              <p class="info">Position: Software Developer</p>
              <p class="info">Roles: </p>
              <ul class="roles">
                <li>Creating and developing solutions using various open source languages</li>
                <li>Reporting to the line manager on a daily basis about daily tasks</li>
                <li>Supporting clients on existing systems and updating them</li>
              </ul>
              <p class="info">Duration: 2017</p>
            </div>
        </div>
      </div>
  </div>
</div>