<div class="container-fluid" id="background">
  <h1 class="text-center" id="headerText">A Glimpse Of My Work...</h1>
  <div class="row" id="content">
    <div class="col-md-6 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
              <p class="panel-heading text-center" id="panelText">Soul Havok Portfolio Page</p>
              <img src="../../assets/SoulHavok.jpg" width="80%" alt="Dj Soul Havok Profile Page" class="pnlImg center-block">
              <br>
              <p class="text-center">A basic schematic for my cousin from Rustenburg who is a dj/producer to assist him to push his music and events to the public.</p>
            </div>
            <div class="panel-footer"> <a href="http://karabomaimane.github.io/soulhavok.com" class="btn btn-block btn-default">Soul Havok Page</a> </div>
          </div>
    </div>

    <div class="col-md-6 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
              <p class="panel-heading text-center" id="panelText">Boni & Bike Foundation Page</p>
              <img src="../../assets/Capture.JPG" width="80%" alt="Dj Soul Havok Profile Page" class="pnlImg center-block">
              <br>
              <p class="text-center">A basic schematic for a friend of mine who is running a cycling foundation with some of his associates as they have regular events and gigs it will be useful.</p>
            </div>
            <div class="panel-footer"> <a href="http://karabomaimane.github.io/boniandbike.com" class="btn btn-block btn-default">Boni & Bike Page</a></div>
          </div>
    </div>
  </div>
</div>