<div class="container post">
  <div class="row">
      <div class="col-md-6 post-title" id="headContent1">
         <img src="../assets/profile.jpg" class="myPicture" width="200" height="200" alt="" class="center-block img-circle" id="proImage">
          <h1 id="name" class="text-center">Hi, I'm Karabo</h1>
          <p class="author text-center"><strong>By: Karabo Maimane</strong> <span class="text-muted"> Wednesday 23 May</span></p>

          <div class="personalInfo well text-center">  
            <h4>Bio</h4>
            <p class="info"><span class="boldText">Name:</span> Karabo Vusumuzi</p>
            <p class="info"><span class="boldText">Surname:</span> Maimane</p>
            <p class="info"><span class="boldText">Age:</span> 26 Years</p>
            <p class="info"><span class="boldText">Gender:</span> Male</p>
            <p class="info"><span class="boldText">Contacts:</span> (082) - 316 2480</p>
            <p class="info"><span class="boldText">Where I live:</span> 678B Matshaya Road Naledi, Soweto</p>
          </div>
      </div>
      <div class="col-md-6 col-md-offset-0 post-body" id="headContent2">
          <p class="text-center">
            Im Karabo Maimane a 26 year old freelance web and software developer born and bred in Soweto, deep down in a small town called Naledi. I have about a years experience in the professional industry. I have Bachelors Degree from Heriot Watt University
            of Computer Systems that I completed in 2015. Since then I got into a software development internship at Coralite Training Academy which I did up until October 2017. From that experience I fell in love with web development and am constantly
            learning and honing my skill as a professional freelance web developer. I am very proud to say that I am skilled in the following languages:
        </p>
         <div class="text-center list-text">
          <li>HTML/HTML5 </li>
          <li>CSS/CSS3 </li>
          <li>Vanilla JavaScript/JQuery </li>
          <li>Bootstrap </li>
          <li>Java 8</li>
          <li>C#, ASP.NET MVC</li>
          <li>PHP </li>
          <li>MYSQL </li>
        </div>
         
          <p class="text-center">I am a very passionate and eager self-starter who is results-driven and creative, I put a lot of commitment to every aspect of the work I do. Please feel free to look at my portfolio of the projects I did. Should you feel the need to contact me please dont hesitate to check out my details on the footer.</p>
      </div>
  </div>
</div>